.layout-container {
    width: 100vw;
    min-height: 100vh;

    .sider-layout {
        overflow: auto;
        height: 100vh;
        position: sticky;
        left: 0;
        top: 0;
        
        li {
            margin: 0 0 12px 0;
        }

        .logo {
            height: 32px;
            background: rgba(255, 255, 255, 0.3);
            margin: 16px;
        }
    }
    
    .site-layout{

        .header-layout {
            background: $layout-bg-color;
            height: 64px;
            margin: 0;
            padding: 0;

            .trigger {
                font-size: 18px;
                justify-content: center;
                margin-left: 16px;
                padding: 0;
                border: 0;
                cursor: pointer;
                transition: color 0.3s;
            }
              
            // .trigger:hover {
            //     color: #1890ff;
            // }       
        }

        .content-layout {
            background: $layout-bg-color;
            height: 100%;
            padding: 16px;
            margin: 24px;
            // min-height: 280;
            
            .table-toolbar {
                margin-bottom: 16px;
                float: right;
                // display: flex;
                // justify-content: right;
            }
        }

        .footer-layout {
            height: 104px;
            text-align: center;

        }
    }
}
      
 







 


  
