.layout-container {
    width: 100%;
    min-height: 100%;

    .sider-layout {
        overflow: auto;
        height: 100vh;
        position: sticky;
        left: 0;
        top: 0;
        
        li {
            margin: 0 0 12px 0;
        }

        .logo {
            height: 32px;
            background: rgba(255, 255, 255, 0.3);
            margin: 16px;
        }
    }
    
    .site-layout{

        .header-layout {
            background: $layout-bg-color;
            height: 48px;
            margin: 0;
            padding: 0 16px;

            .header-toolbar {
                float: right;
                height: 100%;
            }     
        }

        .content-layout {
            background: $layout-bg-color;
            height: 100%;
            padding: 0 24px;
            margin: 24px;
            // min-height: 280;
            
            .table-toolbar {
                padding: 24px 0;
                float: right;
                // display: flex;
                // justify-content: right;
            }
        }

        .footer-layout {
            height: 80px;
            text-align: center;

        }
    }
}
      
 







 


  
