.layout-container {
  min-height: 100vh;

  .sider-container {
    overflow: auto;
    min-height: 100%;
    position: sticky;
    left: 0;
    top: 0;

    li {
      margin: 0;
    }

    .title {
      font-weight: bolder;
      font-size: large;
      height: $header-height;
      background: $header-bg-color;
      display: flex;
      align-items: center;
    }
  }

  .main-container {
    min-height: 100%;

    .header-container {
      background: $header-bg-color;
      height: $header-height;
      // width: 100%;
      margin: 0;
      padding: 0 16px;

      .header-toolbar {
        float: right;
        height: 100%;
      }
    }

    .content-container {
      background: white;
      height: 100%;

      .container {
        height: 100%;
        width: 100%;
        padding: 24px;

        ul {
          margin-bottom: 0;
        }
      }

      .table-toolbar {
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;

        .title {
          font-size: large;
          font-weight: 600;
        }
      }

      table {
        max-height: 100%;
      }
    }

    .footer-container {
      height: $footer-height;
      background-color: $footer-bg-color;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
